<div class="row p-gutter pt-0" gdColumns="3fr 1fr " gdColumns.lt-md="4fr" gdColumns.lt-sm="4fr" gdGap="16px" vexContainer>
  <div>
    <div class="row p-gutter" gdColumns="1.5fr 0.2fr" gdColumns.lt-md="1.5fr 0.3fr" gdColumns.lt-sm="1.5fr 0.3fr"
      gdColumns.lt-xs="1.5fr 0.3fr" gdGap="16px" vexContainer>
      <h2 class="m-0 title font-bold ml-5 pt-3" >Popular Courses</h2>

      <p class="m-0 title  bg-gray-light pt-2 pl-3 pb-2 pr-3 see-all" >See All</p>
    </div>
    <div class="row p-gutter bg-white popular-courses-cards" gdColumns="1fr 1fr 1fr" gdColumns.lt-md="1fr 1fr 1fr" gdColumns.lt-sm="1fr 1fr 1fr"
      gdColumns.lt-xs="1fr 1fr 1fr" gdGap="20px" vexContainer >
      <div>
        <div class="card bg-primary" fxLayout="row" fxLayout.xs="column">


          <div class="p-3" fxFlex="auto">
            <p class="m-0 german-popular" >German</p>

          </div>
          <div class="p-4 pl-0" fxFlex="none" fxFlexAlign="center">
            <img src="assets/img/illustrations/checklist.svg" height= "100px" width="100px">
          </div>
        </div>
      </div>



      <div>
        <div class="card " fxLayout="row" fxLayout.xs="column" style="background-color:#eeeeff">


          <div class="p-3 text-primary-contrast" fxFlex="auto">
            <p class="m-0 text-primary korean-popular">Korean</p>

          </div>
          <div class="p-4 pl-0" fxFlex="none" fxFlexAlign="center">
            <img src="assets/img/illustrations/checklist.svg" height= "100px" width="100px">
          </div>
        </div>
      </div>
      <div>
        <div class="card" fxLayout="row" fxLayout.xs="column" style="background-color:#eeeeff">


          <div class="p-3 text-primary-contrast" fxFlex="auto">
            <p class="m-0 text-primary french-popular" >French</p>

          </div>
          <div class="p-4 pl-0" fxFlex="none" fxFlexAlign="center">
            <img src="assets/img/illustrations/checklist.svg" height= "100px" width="100px">
          </div>
        </div>
      </div>

    </div>

    <div class="row p-gutter" gdColumns="1.5fr 0.2fr " gdColumns.lt-md="1.5fr 0.3fr" gdColumns.lt-sm="1.5fr 0.3fr"
      gdColumns.lt-xs="1.5fr 0.3fr" gdGap="16px" vexContainer>


      <h2 class="m-0 title font-bold ml-5 pt-3" >Upcoming Courses</h2>

      <p class="m-0 title text-primary bg-gray-light pt-2 pl-3 pb-2 pr-3 see-all">See All</p>
    </div>


    <div class="row p-gutter" gdColumns="0.5fr 0.5fr 0.5fr" gdColumns.lt-md="1fr 1fr 1fr" gdColumns.lt-sm="1fr 1fr 1fr"
      gdGap="16px" vexContainer>
      <div>
        <div class="card" fxLayout="row" fxLayout.xs="column">
          <div class="p-3 pr-0 pl-0 ml-4" fxFlex="none" fxFlexAlign="center">
            <img src="assets/img/illustrations/checklist.svg" height= "100px" width="100px">
          </div>

          <div class="p-3 text-primary-contrast text-dark pl-3 pr-3" fxFlex="auto" >
            <h4 class="m-0 font-bold">Spanish</h4>
            <p class="caption m-0 text-gray">Start 08 April</p>
            <p class="caption m-0 text-orange font-bold">$110 USD</p>

          </div>

        </div>
      </div>



      <div>
        <div class="card " fxLayout="row" fxLayout.xs="column">
          <div class="p-3 pr-0 pl-0 ml-4" fxFlex="none" fxFlexAlign="center">
            <img src="assets/img/illustrations/checklist.svg" height= "100px" width="100px">
          </div>

          <div class="p-3 text-primary-contrast text-dark pl-3 pr-3" fxFlex="auto" >
            <h4 class="m-0 font-bold">German</h4>
            <p class="caption m-0 text-gray">Start 10 April</p>
            <p class="caption m-0 text-orange font-bold">$150 USD</p>

          </div>

        </div>
      </div>
      <div>
        <div class="card" fxLayout="row" fxLayout.xs="column">
          <div class="p-3 pl-0 pr-0 ml-4" fxFlex="none" fxFlexAlign="center">
            <img src="assets/img/illustrations/checklist.svg" height= "100px" width="100px">
          </div>

          <div class="p-3 text-primary-contrast text-dark pl-3 pr-3" fxFlex="auto" >
            <h4 class="m-0 font-bold">Korean</h4>
            <p class="caption m-0 text-gray">Start 16 April</p>
            <p class="caption m-0 text-orange font-bold">$120 USD</p>

          </div>

        </div>
      </div>


    </div>

    <div class="row p-gutter" gdColumns="1fr 0.7fr" gdColumns.lt-md="1fr 0.65fr" gdColumns.lt-sm="1fr"
      gdColumns.lt-xs="1fr" gdGap="16px" vexContainer>
      <div class="p-4 bg-app-bar bg-white card-user" >

        <div class="border-l" fxFlex >
          <div @fadeInUp class="card mt-4">
            <div class="px-gutter py-4 flex items-center" style="border-radius: 2rem;
        ">
              <img mat-card-image src="assets/img/demo/mountain-cinematic.jpg" 
                style="border-radius: 1.25rem; width:100%">

            </div>
            <div>

              <div class="flex-auto p-4" >
                <p class="font-medium font-bold pl-4 pb-3" >1.1 Introduction: History of Language</p>
                <p class="text-secondary font-medium text-xs pl-4" >120 Views . 21 minutes ago</p>
              </div>
            </div>

            <div [class.border-t]="!imageUrl" class="flex justify-between">
              <div class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center  ltr:rounded-bl rtl:rounded-br relative  trans-ease-out likes-container"
                matRipple >
                <ic-icon [icon]="icFavorite" [inline]="true" size="20px"></ic-icon>
                <p class="font-medium ltr:ml-2 rtl:mr-2;color:#302ea7">16 Likes</p>
              </div>

              <div
                class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center text-gray ltr:rounded-bl rtl:rounded-br relative hover:bg-gray-light trans-ease-out comments-container"
                matRipple >
                <ic-icon [icon]="icComment" [inline]="true" size="20px"></ic-icon>
                <p class="font-medium ltr:ml-2 rtl:mr-2">{{ comments }} Comments</p>
              </div>
              <div
                class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center text-gray ltr:rounded-bl rtl:rounded-br relative hover:bg-gray-light trans-ease-out download-container"
                matRipple >
                <ic-icon [icon]="icDownload" [inline]="true" size="20px"></ic-icon>
                <p class="font-medium ltr:ml-2 rtl:mr-2 gray">Download</p>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div>
        <div class="p-4 bg-app-bar bg-white next-video-container" >
          <mat-list class="card max-w-full overflow-hidden w-300 mt-4" >
            <h2 class="font-bold pt-3 pl-5 next-video-title" >Next Videos</h2>
            <mat-list-item>
              <img class="lesson-avatar" mat-list-avatar src="assets/img/avatars/1.jpg" >
              <h3 matLine>Lesson 1</h3>
              <p matLine id="video-row1">
                <span>Importance of Language</span>
                <span class="text-secondary">6:21</span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img class="lesson-avatar" mat-list-avatar src="assets/img/avatars/2.jpg" >
              <h3 matLine>Lesson 2</h3>
              <p matLine id="video-row2">
                <span>German Greeting</span>
                <span class="text-secondary">17:19</span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img class="lesson-avatar" mat-list-avatar src="assets/img/avatars/3.jpg" >
              <h3 matLine>Lesson 3</h3>
              <p matLine id="video-row3">
                <span>Introduce alphabets</span>
                <span class="text-secondary">16:38</span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img class="lesson-avatar" mat-list-avatar src="assets/img/avatars/4.jpg" >
              <h3 matLine>Lesson 4</h3>
              <p matLine id="video-row4">
                <span>Sentence structure</span>
                <span class="text-secondary">11:16</span>
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 mt-6 bg-white right-sidebar" width="90%">
    <h1 class="font-bold mt-3 pl-5 mb-4 online-exam-title" >Online Exam</h1>
    <div [class.border-t]="!imageUrl" class="flex justify-between p-8 mb-8 date-score-container" >
      <div
        class="px-gutter py-2 flex flex-column cursor-pointer select-none items-center  ltr:rounded-bl rtl:rounded-br relative  trans-ease-out score-container"
        matRipple >
        <p class="font-small ltr:ml-2 rtl:mr-2;" >Score</p>
        <p class="font-medium ltr:ml-2 rtl:mr-2; time-value-blue" >10</p>
      </div>
      <div
        class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center ltr:rounded-bl rtl:rounded-br relative trans-ease-out score-container"
        matRipple >
        <p class="font-small ltr:ml-2 rtl:mr-2" >Remaining Time</p>
        <div class="flex space-between">
          <p class="font-medium ltr:ml-2 rtl:mr-2 time-value-orange" >06</p>
          <p class="ml-4 time-value-orange" >16</p>
        </div>
      </div>
    </div>
    <div class="flex pb-5 pt-5">
      <span class="question-span" >Q.1</span>
      <p class="pt-2 pl-5 question-title" >Which of the following is not a rule of language ? </p>
    </div>
    <div fxLayout="column" fxLayoutGap="5px" class="ml-16">
      <mat-checkbox [checked]="false">Syntax</mat-checkbox>
      <mat-checkbox [checked]="false">Semantics</mat-checkbox>
      <mat-checkbox [checked]="true">Lexicalization</mat-checkbox>
      <mat-checkbox [checked]="false">Disabled</mat-checkbox>
    </div>
    <div class="flex pb-5 pt-5">
      <span  class="question-span" >Q.2</span>
      <p class="pt-2 pl-5 question-title" >At which age does cooing begin? </p>
    </div>
    <div fxLayout="column" fxLayoutGap="5px" class="ml-16">
      <mat-checkbox [checked]="false">0-1 months</mat-checkbox>
      <mat-checkbox [checked]="true">1-2 months</mat-checkbox>
      <mat-checkbox [checked]="false">4-5 months</mat-checkbox>
      <mat-checkbox [checked]="false">6-7 months</mat-checkbox>
    </div>
    <div class="flex pb-5 pt-5">
      <span class="question-span" >Q.3</span>
      <p class="pt-2 pl-5 question-title" >Learning a language is a </p>
    </div>
    <div fxLayout="column" fxLayoutGap="5px" class="ml-16">
      <mat-checkbox [checked]="true">Gradual process</mat-checkbox>
      <mat-checkbox [checked]="false">Last process</mat-checkbox>
      <mat-checkbox [checked]="false">Instant process</mat-checkbox>
    </div>
  </div>
</div>